
// ------------------------------------
// CORES PADRÕES DO SISTEMA.
// ------------------------------------

$blue: #378BBB;
$yellow: #E6B431;
$green: #63B971;


$white:    #fff !default;
$black:    #000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
    ),
  $grays
  );

$blue:    #378BBB !default;
$indigo:  #0d0cb5 !default;
$purple:  #7971ea !default;
$pink:    #e83e8c !default;
$red:     #f23a2e !default;
$orange:  #ef6c57 !default;
$yellow:  #f89d13 !default;
$green:   #8bc34a !default;
$teal:    #46ddb0 !default;
$cyan:    #17a2b8 !default;


$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
    ),
  $colors
  );

$primary:       $purple !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// $secondary: #1abb9c;
$gray-1: #25262a;
$gray-2: #5c626e;
$gray-3: #c4c7ce;
$gray-4: #edf0f5;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
    ),
  $theme-colors
  );


$text-font: 'Roboto', sans-serif;