.cartorios{
	margin-top: 100px;
}

@media only screen and (max-width: 800px) {

	.cartorios{

		.img1{
			img{
				opacity: 0.3;
			}
			position: relative;
		}

		.cartorio__descricao{
			position: absolute !important;
		}

	}

}