.contato{

	.background-img{
		background-image: url('img/site/ilustracao/contato.png');
		background-repeat: no-repeat, repeat;
		background-size: 65%;
		background-position: initial;
		// height: 1000px;
	}
}