.contato{

	.background-img{
		background-image: url('img/site/ilustracao/contato.png');
		background-repeat: no-repeat, repeat;
		background-size: 65%;
		background-position: initial;
		// height: 1000px;
	}
}


@media only screen and (max-width: 767px){
	.div-suport{
		padding-left: 0 !important;
		padding-bottom: 2%;
	}
	.background-img{
		padding-bottom: 0 !important;
	}
}
